.has-vertically-aligned-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

.header-wrapper {
    padding-bottom: 30px;
}

.hero .subtitle {
    padding: 5px;
}

.hero .profession {
    padding-top: 50px;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.main-content {
    padding-top: 2rem;
}

.main-content .section-light {
    padding: 30px;
}

.main-content .section-light.about-me .right-image img {
    border-radius: 11px;
    margin: 20px;
}

@media (max-width: 599px) {
    .main-content .section-light.about-me .right-image img {
        margin: auto;
    }
}

.main-content .section-title {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

#toTop {
    height: 50px;
    width: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
}