
.wrapper {
    font-family: sansation_lightregular, sans-serif;
    display: flex;
}

.wrapper>div {
    font-size: 12px;
    color:#0a0e17;
    padding: .3em;
    flex: 1;
}

.content {
    min-height: 95vh;
    border-bottom: 0.75px ridge orange;
}
/*
.content>div {
    margin: auto auto;
}*/

.footer {
    text-align: end;
}

.card {
    box-sizing: border-box;
    display: inline-block;
    font: normal 100 14px/1.2em "Exo 2", Arial, sans-serif;
    letter-spacing: .06em;
    background-color: rgba(120, 200, 255, 0.1);
    border: 1px solid rgba(120, 200, 255, 0.2);
    color: rgba(120, 200, 255, 0.8);
    padding: 0 1em 1em;
}

.card>div {
    font-size: 2em;
}

.card>span {
    font-size: 1.6em;
    color: orangered;
}

.groupname {
    font-size: 125%;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
}

.with-errors {
    font-size: 0.65em;
    margin-top: 0px;
    padding-left: 3px;
}

.text-danger {
    color: orangered;
}

hr {
    margin-top: 32px;
    border: 1px inset #063d44;
}