/*.lightblue*/
.colourA {
    color: #009899;
}

/*.darkblue*/
.colourB {
    color: #05525a;
}

/*.dark*/
.colourC {
    color: #0a0e17;
}

/*.lightgrey*/
.colourD {
    color: #949599;
}

.colourE {
    colour: #009888;
}