.colourA {
    color: #ffaf24;
}

.colourB {
    color: #1ca64c;
}

.colourC {
    color: #ff5257;
}

.colourD {
    color: #fffa70;
}

.colourE {
    color: #6faf99;
}

.footer {
    margin-bottom: 0px;
}