{{if .User}}
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://www.gravatar.com/avatar/{{.Data.Gravatar}}?d=identicon">
            </p>
        </figure>
        <div class="media-content">
            <form id="frmComment" role="form">
                <input type="hidden" id="hdnUserImg" value="{{.Data.Gravatar}}"/>
                <div class="field">
                    <div class="control">
                        <input type="text" id="txtText" class="input" required placeholder="Add a comment..."></input>
                        <p class="help is-danger"></p>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="button" id="btnComment" class="button is-info">Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </article>
{{else}}
    <div class="container">
        <div class="notification">
            <p>Please <a href="/login" class="button is-small is-info needs-login">Login</a> to Comment.</p>
        </div>
    </div>
{{end}}
{{ range .Data.Comments.GetRecords.ToSlice}}
    {{$v := .GetValue}}
    {{$k := .GetKey}}
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://www.gravatar.com/avatar/{{$v.UserImage}}?d=identicon">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{$v.Text}}</strong>
                    <br>
                    {{$k.GetTimestamp}}
                    <br>
                    <!--<small>
                        <a href="#" class="like" data-itemKey="{{$k}}">Like</a>
                        <a data-itemKey="{{$k}}" data-itemType="Child">Reply</a>
                    </small>-->
                </p>
            </div>
            {{ range $ckey, $cval := $v.Children}}
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="https://www.gravatar.com/avatar/{{$cval.UserImage}}?d=identicon">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{$cval.Text}}</strong>
                                <br>
                                <!--<small><a class="like" data-itemKey="{{$ckey}}">Like</a>
                                    <a data-itemKey="{{$ckey}}" data-itemType="Child">Reply</a>
                                </small>-->
                            </p>
                        </div>
                    </div>
                </article>
            {{end}}
        </div>
    </article>
{{end}}
