<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns">
                <div class="column is-4 has-text-left">
                    <h2 class="sub-heading">Follow us</h2>
                    <p>
                        {{range $key, $val := .Footer.SocialLinks}}
                        <a href="{{$val.URL}}" target="_blank">
                            <i class="fab {{$val.Icon}} fa-2x"
                                style="color: red; display: inline-block; margin-right: 1em;"></i>
                        </a>
                        {{end}}
                    </p>
                </div>
                <div class="column is-4 has-text-centered">
                    <h2 class="sub-heading">Other</h2>
                    {{range $key, $val := .Footer.OtherLinks}}
                    <a href="{{$val.URL}}" target="_blank">
                        <i class="fab {{$val.Icon}} fa-2x"
                            style="color: red; display: inline-block; margin-right: 1em;"></i>
                    </a>
                    {{end}}
                </div>
                <div class="column is-4 has-text-right">
                    <h2 class="sub-heading">Our Sites</h2>
                    <p><a href="https://www.avosa.co.za" target="_blank">Avosa</a></p>
                    <p><a href="#">IdealCar</a></p>
                    <p><a href="#">Servicebook</a></p>
                    <p><a href="#">Shop</a></p>

                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-12 has-text-centered">
                    <p><a href="#">Acceptable Use Policy</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a
                            href="#">Terms of Service</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a
                            href="#">Security Policy</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a
                            href="#">Privacy Policy</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a
                            href="#">Services Refund Policy</a> </p>
                    Copyright <a href="www.avosa.co.za" target="_blank">Avosa software 2019</a>
                </div>
            </div>
        </div>
    </div>
</footer>