<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="avosa software">
    <title>{{.Title}}</title>
    <link rel="shortcut icon" href="https://theme{{.Host}}v1/asset/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://theme{{.Host}}v1/asset/ico/favicon.ico" type="image/x-icon">
    
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://artifact{{.Host}}v1/upload/file/{{.LogoKey}}">
    <meta property="og:url" content="https://www{{.Host}}">
    <meta property="og:description" content="">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://theme{{.Host}}v1/asset/css/bundle.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>

<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://www{{.Host}}">
                <img src="https://artifact{{.Host}}v1/upload/file/{{.LogoKey}}" alt="{{.Title}}">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                {{ template "_shared/topmenu.html" .}}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <div class="control">
                            <!--TODO: Enable searching <input class="input" type="text" placeholder="search...">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        {{if .SideMenu }}
        <div class="columns is-gapless">
            <div class="column is-1">
                {{ template "_shared/sidemenu.html" .}}
            </div>
            <div class="column is-11">
                {{.LayoutContent}}
            </div>
        </div>
        {{else}}
        {{.LayoutContent}}
        {{end}}
    </section>
    <input type="hidden" id="InstanceID" value="{{ .InstanceID }}" />
    <input type="hidden" id="HostID" value="{{ .Host }}" />

    {{ template "_shared/scripts.html" .}}
    {{template "_shared/modal.html"}}
</body>

</html>