<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "tracking.html" .}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="avosa PTY LTD">
    <meta name="Language" content="{{.Folio.Language}}"/>
    <meta name="Country" content="ZA"/>
    <title>{{.Title}}</title>
    <link rel="shortcut icon" href="{{ index .Endpoints "theme" }}/asset/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ index .Endpoints "theme" }}/asset/ico/favicon.ico" type="image/x-icon">

    <!-- For Facebook -->
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:type" content="website">
    <meta property="og:image"
          content="{{ index .Endpoints "artifact" }}/download/{{.Folio.LogoKey}}">
    <meta property="og:url" content="/">
    <meta property="og:description" content="{{.Folio.Description}}">

    <!-- For Twitter -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{.Title}}"/>
    <meta name="twitter:description" content="{{.Folio.Description}}"/>
    <meta name="twitter:image"
          content="{{ index .Endpoints "artifact" }}/download/{{.Folio.LogoKey}}"/>
    {{template "styles.html" .}}
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
{{block "layoutcontent" .}}{{end}}
{{ template "footer.html" .}}
{{ template "scripts.html" .}}
</body>
</html>