<!-- Begin Hero Menu -->

<div class="py-3 px-3">
    <!-- Begin Hero Menu -->
    <nav class="navbar is-white">
        <a class="image">
            <img src="{{index .Endpoints "artifact"}}/download/{{.Folio.LogoKey}}" alt="{{.Folio.Client}}"
                  style="height:60px; width:150px;">
        </a>
        <div id="topNav" class="navbar-menu is-right">
            <div class="navbar-start">
                {{range .Menu.Items}}
                {{if .Active}}is-active{{end}}
                <a class="navbar-item" href="{{.Link}}">{{.Text}}</a>
                {{end}}
            </div>
        </div>
    </nav>
</div>
<!-- End Hero Menu -->