<nav class="navbar is-white topNav">

    <div id="topNav" class="navbar-menu">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="{{index .Endpoints "artifact"}}/download/{{.Folio.LogoKey}}" alt="{{.Folio.Client}}"
                width="112" height="28">
            </a>
        </div>
        <div class="navbar-start">
            <div class="field has-addons">
                <p class="control">
                    <input class="input is-fullwidth has-text-centered" type="text" placeholder="Find items">
                </p>
                <p class="control">
                    <button class="button">
                        Search
                    </button>
                </p>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-black is-outlined" href="#">
                            <span class="icon">
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                            <span>Cart</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar is-white py-0 px-0">
    <div id="topNav" class="navbar-menu">
        <div class="navbar-start">
            {{range .Menu.Items}}
            {{if .Active}}is-active{{end}}
            <a class="navbar-item" href="{{.Link}}"><b>{{.Text}}</b></a>
            {{end}}
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <input class="input" type="search" placeholder="Search forum...">
            </div>
        </div>
    </div>
</nav>