<aside class="section column is-2 is-narrow-mobile is-hidden-mobile" style="overflow: auto; height: 100vh;">
    {{range $key, $val := .SideMenu}}
    <p class="menu-label is-hidden-touch">
        {{$val.Name}}
    </p>
    <ul class="menu-list">
        {{range $ckey, $cval := $val.Children }}
        <li id="{{$val.ID}}"><a class="{{if $cval.IsActive}}is-active{{end}}" href="{{$cval.Link}}">
                <span class="icon"><i class="fa {{$cval.Class}}"></i></span>
                {{$cval.Name}}
            </a></li>
        {{end}}
    </ul>
    {{end}}
</aside>