{{range $key, $val := .TopMenu}}
{{$len := len $val.Children}}
<div class="navbar-item {{if gt $len 0}} has-dropdown is-hoverable {{end}}">
    <a id="{{$val.ID}}" class="navbar-link {{if eq $len 0}} is-arrowless {{end}}" href="{{if $val.Link }}{{$val.Link}} {{else}} # {{end}}">{{$val.Name}}</a>
    {{if gt $len 0}}
    <div class="navbar-dropdown is-boxed">
        {{range $ckey, $cval := $val.Children }}
        <a class="navbar-item" href="{{if $cval.Link }}{{$cval.Link}} {{else}} # {{end}}">
            {{$cval.Name}}
        </a>
        {{end}}
    </div>
    {{end}}
</div>
{{end}}
<button class="button is-primary is-small" type="button" id="btnSave">Save</button>